<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carhire"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.carhire.Roba"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.signUp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SIGNUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.MENU"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.MobileCarHire"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MOBILECARHIRE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.carhire.pics"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PICS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          <activity
            android:name="com.example.carhire.Img"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.IMG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
     <activity
            android:name="com.example.carhire.FilePickerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FILEPICKERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.ItemSelectedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ITEMSELECTEDACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            <activity
            android:name="com.example.carhire.imgload"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.IMGLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.carhire.insertImage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.INSERTIMAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.InsertandRetriveBlobData"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.INSERTANDRETRIVEBLOBDATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
           <activity
            android:name="com.example.carhire.imgpath"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.IMGPATH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.example.carhire.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                   <activity
            android:name="com.example.carhire.onHire"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ONHIRE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.car_list"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CAR_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.addCar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADDCAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.carsbooked"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CARSBOOKED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.carhire.Payment"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PAYMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.carhire.Payc"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PAYC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
